@{
    ViewData["Title"] = "About Us";
}
   <h1>Cutting-Edge Enterprise</h1>
    <p class="lead">Cutting-Edge enterprise is the forerunner in all cloud based application and has been providing top notch solutions to our customers for over 50 years.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Contact Us For more information</a>
    </p>